<div class="container">
  <h1>Paris</h1>
    <% if current_user.admin == true %>
    <%= link_to 'créer un nouveau paris', new_question_path, class: "btn btn-warning" %>
    <% end %>
  <% @questions.each do |question| %>
    <div class="card-product">
      <%= cl_image_tag question.photo, :class => "question-photo" %>
      <div class="card-product-infos">
        <h2> <%= question.title %></h2>
        <%= link_to 'Détails', question_path(question), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>

