<div class="container">
  <%= render 'shared/dashboard' %>

  <% if current_user.player.crew == nil %>
  <h2>Créer votre équipage et devenir Capitaine?</h2>
  <div class="row m-3">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-inputs">
        <%= simple_form_for [@crew] do |f| %>
        <%= f.input :name, label: 'Donner un nom à votre équipage:' %>

        <%= f.button :submit, "Valider", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
