 <div class="container">
<%= render 'shared/dashboard' %>

<% if @player.crew != nil %>
 <h2> <%= @player.crew.name %> </h2>

 Membres:
 <ul>
   <% @crew.players.each do |player| %>
    <li>
    <%= player.user.pseudo %>
    <% if player.captain == true %>
      : Captain
    <% end %>
    </li>
   <% end %>
 </ul>
<% end %>
</div>
