<div class="container">
  <p class="text-center bg-dark mt-3 p-5">
    <%= link_to 'Contact CGV Mentions légales', pages_path, class: "mx-3" %>
    <%= link_to 'Politique de confidentialité', politique_path, class: 'mx-3' %>
  </p>
</div>
