<div class="d-flex">
<div class="bg-profil  wanted-pseudo wanted-berry">
     <center> <%=cl_image_tag current_user.avatar, :class => "wanted-avatar" %></center>
    <div class="wanted-pseudo mt-5 ml-5"> <%=current_user.pseudo%></div>
</div>
  <div class="container banner ml-2 mt-5">
  </div>
</div>

