<div class="d-flex">
<div class="bg-profil">
    <% if user_signed_in? %>
     <center> <%=cl_image_tag current_user.avatar, :class => "wanted-avatar" %></center>
    <div class="wanted-pseudo pt-1 pl-1 mt-5 ml-5"> <%=current_user.pseudo%></div>
    <div class="wanted-berrys pl-4 ml-5"> <%=current_user.berrys%></div>
    <% else %>
        <center><%= link_to 'Login', new_user_session_path, class: "btn login-btn" %></center>
    <% end %>
</div>
  <div class="container banner ml-1 mt-5">
  </div>
</div>

