<div class="container">
  <div class="card">
    <ol>
      <% @users.sort_by(&:berrys).reverse.each do |user| %>
        <li><%= user.pseudo %> <%=number_with_delimiter(user.berrys, :delimiter => '.')%> Berrys</li>
      <% end %>
    </ol>
  </div>
</div>
