<div class="container d-flex justify-content-center text-center ">
  <div class="card p-3 center">
    <ol>
      <% @users.sort_by(&:berrys).reverse.each do |user| %>
        <li> <h1> <%= user.pseudo %> <br> <%=number_with_delimiter(user.berrys, :delimiter => '.')%> Berrys </h1></li>
        <hr>
      <% end %>
    </ol>
  </div>
    <div class="row">
      <div class="col-6 ml-2">
        <% @users.sort_by(&:berrys).reverse.first(10).each do |user| %>
         <%=cl_image_tag user.avatar, :class => "classement-avatar mt-2" %>
         <% end %>
      </div>
    </div>
</div>
