<div class="container">
  <div class="card">
    <ol>
      <% @users.sort_by(&:berrys).reverse.each do |user| %>
        <li><%= user.pseudo %> <%= user.berrys %> Berrys</li>
      <% end %>
    </ol>
  </div>
</div>
