<div class="container">
    <% if user_signed_in? && current_user.current_sign_in_at.to_date - current_user.last_sign_in_at.to_date >= 1 %>
      <% current_user.update(berrys: (current_user.berrys + 10_000))
         current_user.update(last_sign_in_at: (current_user.current_sign_in_at)) %>
    <% end %>

    <% if user_signed_in? && current_user.admin == true %>
      <%= link_to 'créer un article', new_article_path, class: 'btn btn-warning' %>
    <% end %>

    <h1 class="card p-5 mb-4 font-custom">Attention les paris de ce site sont basés sur les dernières sorties des chapitres de One Piece, si vous n'êtes pas à jour vous vous exposez aux <strong> SPOILS!! </strong>
    </h1>

    <% @articles.each do |article| %>
      <div class="card mb-4">
        <h1 class="text-center m-2 font-custom-title"><%= article.title %></h1>
        <% if article.image != nil %>
          <%=  image_tag article.image, :class => "article-photo"  %>
        <% end %>
        <h3 class="m-3 font-custom"><%=  article.text%></h3>
      </div>
    <% end %>
</div>
