<div class="container">
    <% if user_signed_in? && current_user.current_sign_in_at.to_date - current_user.last_sign_in_at.to_date >= 1 %>
      <% current_user.update(berrys: (current_user.berrys + 10_000))
         current_user.update(last_sign_in_at: (current_user.current_sign_in_at)) %>
    <% end %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
