<div class="container card p-5 mb-4">
   <p class="font-custom"> Pour toute question, remarque, suggestion vous pouvez nous contacter à cette adresse:
   <strong> contact@davybackfight.rocks</strong> ou sur instagram
    <%= cl_image_tag "https://res.cloudinary.com/dsiamykrd/image/upload/v1578735633/dendenmushi_kyvfru.jpg", width: 400, height: 300, crop: :fill %>
    <br>


<h2>Conditions Générales de Vente</h2>


ARTICLE 1 : CHAMP D'APPLICATION  Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues par le biais du site Internet https://davybackfight.cleverapps.io

ARTICLE 2 : COMMANDES  Les systèmes d'enregistrement automatique sont considérés comme valant preuve de la nature et du contenu de la commande. davybackfight confirme l'acceptation de sa commande au client à l'adresse e-mail que celui-ci aura communiquée. La vente sera conclue à compter de la validation par davybackfight du paiement de la commande c'est-à-dire de la date de validation du paiement pour les commandes réglées en ligne par carte bancaire ou de la date de réception du règlement par chèque. davybackfight se réserve en tout état de cause le droit de refuser ou d'annuler toute commande d'un client avec lequel existerait un différend relatif au paiement d'une commande antérieure.

ARTICLE 3 : DISPONIBILITE DES ARTICLES  Tant que nos offres et leurs prix sont visibles sur le site, elles sont valables. La disponibilité indiquée au moment de la consultation du site par le client reste tributaire de l'état du stock chez davybackfight et bien entendu chez les fournisseurs.

Pour réaliser notre vitrine et notre catalogue de vente, nous travaillons avec des bases de données, enrichie d'après les informations communiquées par nos fournisseurs. Cette base de données comportant plus d'une centaines d' articles, la totalité n'est pas stockée dans nos réserves et notre offre est alors conditionnée à la disponibilité des articles chez les fournisseurs.

Seule la rupture définitive d'un article chez nos fournisseurs entraîne la suppression de celui-ci de notre offre de vente. Dans les autres cas, une nouvelle commande sous un certain délai reste possible.

Lorsqu'il y a une indisponibilité sur un produit commandé, le client est informé par courrier électronique ou sur la facture des produits expédiés dans le cas d'une commande de plusieurs articles.

Date limite de livraison de la commande : lors du passage de la commande et sur l'accusé réception de commande, un délai de livraison est communiqué aux clients. Il est calculé en additionnant, le délai de disponibilité du produit le plus long, au délai d'acheminement du mode de transport sélectionné par le client.
 Du passage de la commande, à l'expédition de celle-ci, le client à la possibilité d'annuler sa commande.

Particularités :

Articles en pré-commande : des articles à paraître sont proposés sur le site https://davybackfight.cleverapps.io en Pré-commande. Cette réservation est faite avec l'indication d'une date de sortie annoncée par l'éditeur au moment de l'ouverture de la phase de réservation. Cette date de sortie peut être changée à tout moment par l'éditeur qui est seul responsable de la commercialisation de son produit.  Dans tous les cas, davybackfight s'efforce, dès la date de mise en vente définitive, d'expédier les articles aux clients ayant réservé, à hauteur du stock fourni par l'éditeur pour le jour de sortie.

ARTICLE 4 : PRIX Les prix indiqués en euros sont réputés nets, hors frais de port. Ce prix comprend le prix des produits, les frais de manutention, d'emballage et de conservation des produits. Ils sont modifiables à tout moment sans préavis, sachant que les articles seront facturés sur la base en vigueur à l'enregistrement de la commande. Toutes les commandes sont facturées en euros et payables en euros. Les éventuels frais de douanes ou taxes locales restent à la charge du destinataire.

ARTICLE 5 : FRAIS DE PORT  Les frais de port comprennent une participation aux frais de préparation, d'emballage et d'affranchissement. Pensez à regrouper tous vos articles sur une seule commande. Nous ne pourrons pas regrouper deux commandes distinctes et les frais de port vous seront facturés pour chacune d'elle.

ARTICLE 6 : PAIEMENT  Vous disposez de plusieurs moyens de paiement offrant un maximum de garanties de sécurité. Vous pouvez régler :

- Par carte bancaire ou privative (carte Visa, Eurocard/Mastercard) soit directement sur le site, dans le formulaire de paiement proposé lors du processus de commande (saisie sécurisée par cryptage SSL), en renseignant le type de carte, le numéro de votre carte sans espace entre les chiffres, le numéro de contrôle (situé au dos de votre carte) ainsi que la date de validité.


Le paiement par carte bancaire est donc parfaitement sécurisé ; votre commande sera ainsi enregistrée et validée dès l'acceptation du paiement par la banque.

  ARTICLE 7 : LIVRAISON  Nous vous livrons à domicile. Le délai de livraison comprend le temps de préparation du colis auquel s'ajoute le temps d'acheminement. davybackfight livre dans le monde entier. L'acheteur est prévenu par mails des différentes étapes du suivi de sa commande : celui de préparation et celui de livraison.
 Le délai de livraison comprend le temps de préparation et la livraison assurée par notre transporteur. Le délai de livraison annoncé de 10 à 30 jours est valable dès la reception par l'acheteur du mail de la livraison de la commande. Le délai de livraison de (annoncé par le transporteur) n'engage en rien davybackfight sur un délai plus long.

ARTICLE 8 : GARANTIE - RETOURS - REMBOURSEMENTS- RETRACTATION   Les articles fournis par https://boutique-one-piece.fr sont neufs et garantis contre tout défaut. Ils sont identiques à ceux du commerce traditionnel et proviennent de l'ensemble des éditeurs et fournisseurs référencés.

S'il arrivait qu'un article soit défectueux ou non conforme, l’acheteur a 15 jours ouvrables, à compter de la réception des articles, pour demander un échange ou un remboursement. Si le délai de quinze (15) jours expire normalement un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu’au premier jour ouvrable suivant.

Le client doit renvoyer les articles neufs ou non consommés dans leur intégralité et dans leurs emballages d’origines, intacts, accompagnés de tous les accessoires éventuels, notices d’emploi et documentations  (dans son emballage cellophane d'origine impérativement et avec la facture correspondante). Dans une telle situation, l'acheteur se doit d'envoyer la preuve du/des vice(s) à contact@davybackfight.rocks (description et photos jointes).

En cas d’exercice du droit de rétractation, davybackfight est tenu au remboursement des sommes versées par le client, sans frais, à l’exception des frais de retour. Le remboursement est dû dans un délai maximum de 14 jours ouvrés à compter de la date de réception du ou des colis retourné(s).

Les frais d'expédition de retour restent alors à votre charge.
En cas de remboursement, nous garantissons qu'il est effectué dans un délai inférieur ou égal à 14 jours suivant la date de réception du colis retourné. Aucun envoi en contre-remboursement ne sera accepté, quel qu'en soit le motif.

ARTICLE 9 : TRANSFERT DE PROPRIETE - TRANSFERT DE RISQUES  Le transfert de propriété des produits au profit de l'acquéreur, ne sera réalisé qu'après complet paiement du prix par ce dernier, et ce quelle que soit la date de livraison des dits produits. En revanche, le transfert des risques de perte et de détérioration des produits ne sera réalisé dès livraison et réception desdits produits par l'acquéreur.

ARTICLE 10 : PROTECTION DE VOS DONNÉES PERSONNELLES  davybackfight est producteur et propriétaire de tout ou partie des bases de données composant le présent site. En accédant au présent site, le client reconnaît que les données le composant sont légalement protégées, et s'interdit notamment d'extraire, réutiliser, stocker, reproduire, représenter ou conserver, directement ou indirectement, sur tout type de support, par tout moyen et sous toute forme que ce soit, tout ou partie qualitativement ou quantitativement substantielle, du contenu des bases de données figurant au site auquel il accède.

ARTICLE 11 : RESPONSABILITE  Les descriptifs des produits présents dans les bases de données de https://davybackfight.cleverapps.io ont été saisis d'après les informations communiquées par les éditeurs. davybackfight n'est pas responsable du contenu des oeuvres et ne pourra voir sa responsabilité engagée à l'égard de l'acquéreur. La responsabilité de davybackfight ne peut être recherchée en cas de survenance d'un cas de force majeure (grève, inondation, incendie...).
 Les produits proposés répondent à la loi de Hong Kong en vigueur. davybackfight décline toute responsabilité si l'article livré ne respecte pas la législation du pays de livraison (censure, interdiction d'un titre ou d'un auteur...). davybackfight n'est pas responsable du contenu des sites sur lesquels des liens hypertextes peuvent renvoyer à partir de son propre site.

ARTICLE 12 : DROIT APPLICABLE  Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les opérations d'achat et de vente qui y sont visées, seront soumises à la loi de Hong Kong.

ARTICLE 13 : ACCEPTATION DE L'ACQUEREUR  Les présentes conditions générales de vente ainsi que les tarifs sont expressément agréés et acceptés par l'acquéreur, qui déclare et reconnaît en avoir une parfaite connaissance, et renonce, de ce fait, à se prévaloir de tout document contradictoire et, notamment, ses propres conditions générales d'achat, l'acte d'achat entraînant acceptation des présentes conditions générales de vente.

Les présentes conditions sont modifiables à tout moment sans préavis par davybackfight Mise à jour des conditions générales de vente le 04 Aout 2020.


<h2> Mentions légales </h2>

Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités.

Conditions d’utilisation :

Ce site (https://davybackfight.cleverapps.io) est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc… l'équipe davybackfight  met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations et signaler toutes modifications du site qu'il jugerait utile.

davybackfight n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.

Cookies :

Le site https://davybackfight.cleverapps.io peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d'affichage. Un cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.

Liens hypertextes :

Le site internet https://davybackfight.cleverapps.io peut offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. davybackfight ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. davybackfight ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. davybackfight ne peut être tenu pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation. Les utilisateurs, les abonnés et les visiteurs des sites internet de ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de davybackfight. Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de davybackfight, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. davybackfight se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.

Services fournis :

L'ensemble des activités de la société ainsi que ses informations sont présentés sur notre site https://davybackfight.cleverapps.io. davybackfight s’efforce de fournir sur le site https://davybackfight.cleverapps.io des informations aussi précises que possible. Les renseignements figurant sur le site ne sont pas exhaustifs et les photos non contractuelles. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne. Par ailleurs, tous les informations indiquées sur le site sont données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.

Limitation contractuelles sur les données :

Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à différentes périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email, l’adresse contact@davybackfight.rocks en décrivant le problème de la manière la plus précise possible (page posant problème, type d’ordinateur et de navigateur utilisé, …). Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour. Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de davybackfight.

Propriété intellectuelle :

Tout le contenu du présent sur le site https://davybackfight.cleverapps.io incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société davybackfight à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans notre accord exprès par écrit. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.

Litiges :

Les présentes conditions du site https://davybackfight.cleverapps.io sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.

Données personnelles :

De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet https://davybackfight.cleverapps.io.


  </p>
</div>
