<div class="container card p-5 mb-4">
   <h1 class="font-custom"> Pour toutes questions, remarques, suggestions vous pouvez nous contacter à cette adresse:
   <strong> contact@davybackfight.rocks</strong></h1>
    <%= cl_image_tag "https://res.cloudinary.com/dsiamykrd/image/upload/v1578735633/dendenmushi_kyvfru.jpg", width: 400, height: 300, crop: :fill %>
</div>
