<div class="container card p-5 mb-4">
  <h2>Les données présentes sur le présent formulaire sont sauvegardées dans un fichier informatisé par DVBF dont le délégué à la protection des données est M.Beucherie Rémi, 12 rue abbé rousselot 16000 angouleme, contact@davybackfight.rocks, pour le bon fonctionement des services du site. <br>
Les renseignements rassemblés seront communiqués aux seuls destinataires suivants M.Beucherie Rémi. Ces données feront l’objet de traitement dans notre département commercial et seront transmises à certains de nos prestataires. <br>
Vous garderez un droit de regard sur vos informations. Vous pourriez y accéder, les rectifier, demander leur modification et suppression et exercer votre droit à la limitation du traitement. Vous pourrez exercer ces droits à tout moment. Pour cela, vous pourriez contacter notre Service juridique : <br>
    • Par mail au : contact@davybackfight.rocks ;
    • Par courrier postal à l’adresse indiqué ci-dessus. <br>
Aussi, vous pouvez retirer votre consentement au traitement de vos données à tout moment ou vous opposer au traitement de vos données. Vous pouvez également exercer un droit à la portabilité sur vos données personnelles. <br>
Si après avoir contacté notre service juridique, vous constatez que vos droits « Informatiques et Libertés » ne sont pas respectés, vous pourrez adresser une réclamation à la Commission nationale de l’Informatique et des Libertés ou CNIL, 3 Places de Fontenoy, 75007 Paris.
Note : Les informations marquées d’astérisques sont obligatoires et doivent impérativement être fournies. Il s’agit de renseignements nécessaires à la fourniture des services ou la conclusion du contrat.</h2>
</div>
