<div class="container">
  Choisissez votre point de départ:

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-inputs">
        <%= simple_form_for [@player] do |f| %>
        <%= f.input :position,:collection => @positions, label: 'Point de départ' %>

        <%= f.button :submit, "Valider", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
