.banner {
  justify-content: space-between;
  background-image: url("https://res.cloudinary.com/dsiamykrd/image/upload/v1577109704/banner_sjhzy5.png");
  background-position: center;
  background-size: cover;
  height: 400px;
}


