.bg-profil{
  width: 400px;
  height: 530px;
  background-image: url("https://res.cloudinary.com/dsiamykrd/image/upload/v1577030856/wanted_vmyodi.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.wanted-avatar{
width: 300px;
height: 205px;
margin-top: 124px;
}

.wanted-pseudo{
  text-transform: uppercase;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  }
