.bg-profil{
  width: 400px;
  height: 530px;
  background-image: url("https://res.cloudinary.com/dsiamykrd/image/upload/v1577030856/wanted_vmyodi.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.wanted-avatar{
width: 306px;
height: 208px;
margin-top: 124px;
color: #2c1913;
}

.wanted-pseudo{
  text-transform: uppercase;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  color: #2c1913;
  letter-spacing: 1px;
  }


.wanted-berrys{
  text-transform: uppercase;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  color: #2b1913;
  }
