.bg-profil{
  background-image: url("https://res.cloudinary.com/dsiamykrd/image/upload/v1577030856/wanted_vmyodi.png");
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;

}

.wanted-avatar{
width: 229px;
height: 158px;
margin-top: 74px;
margin-left: 1px;
margin-bottom: 30px;
color: #2c1913;
}

.wanted-pseudo{
  text-transform: uppercase;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 26px;
  color: #2c1913;
  letter-spacing: 1px;
  }


.wanted-berrys{
  text-transform: uppercase;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 28px;
  color: #2b1913;
  }
