.font-custom-title{
    font-family: 'Aref Ruqaa', serif;
    font-weight: bolder;
}

.font-custom{
  font-family: 'Aref Ruqaa', serif;
}

.font-custom-navbar{
    font-family: 'Aref Ruqaa', serif;
    font-weight: bolder;
    font-size: 150%
}
.font-custom-navbar:hover{
    -webkit-transform: scale(1.1);
}

.active{
text-decoration-line: underline;
}
