.font-custom-title{
    font-family: 'Aref Ruqaa', serif;
    font-weight: bolder;
}

.font-custom{
  font-family: 'Aref Ruqaa', serif;
}

.font-custom-navbar{
    font-family: 'Aref Ruqaa', serif;
    font-weight: bolder;
    font-size: 150%
}
