// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "bg_profil";
@import "banner";
@import "login_btn";
@import "card_product";
@import "article";





body{
  background-image: url("https://res.cloudinary.com/dsiamykrd/image/upload/v1577113693/background_one_piece_by_xxhxaxx_d5oazo3-fullview_tdi0l2.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-attachment: fixed;
  margin-bottom: 400px;
}
